:root {
  --dots-color: #fff;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/Poppins\ Font/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsB;
  src: url(/assets/Poppins\ Font/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsR;
  src: url(/assets/Poppins\ Font/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsM;
  src: url(/assets/Poppins\ Font/Poppins-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: black;
  color: white;
}

h3 {
  position: absolute;
  top: 40px;
  left: 84px;
  color: white;
}

.navbar {
  width: 771px;
  height: 80px;
  border-radius: 100px;
  margin: 40px auto;
  background-color: #1f2125;
}

.navbar ul {
  height: 80px;
}

.navbar ul li {
  padding: 24px 39px;
  font-size: 16px;
  list-style-type: none;
  float: left;
  color: white;
}

.navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 35px;
  height: 35px;
  width: 64px;
  border-radius: 100px;
  transition: 0.5s;
  color: white;
}

.navbar ul li a:hover {
  background-color: #ffbf61;
}

.btn-login {
  position: absolute;
  height: 58px;
  width: 120px;
  background-color: #ffbf61;
  right: 100px;
  top: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 58px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: PoppinsR;
}

.container-content {
  margin-top: 100pxpx;
  display: grid;
  grid-template-columns: 50% auto;
  /* grid-template-rows: 1000px; */
}

.text {
  grid-column-start: 1;
  place-self: center;
  /* position: relative;
  bottom: 100px; */
}

.Kebudayaan {
  color: #9a9a9a;
  font-family: PoppinsB;
  font-size: 80px;
  line-height: 60%;
}

.Kabupaten {
  color: #9a9a9a;
  font-family: Poppins;
  font-size: 100px;
  line-height: 60%;
}

.Tegal {
  color: #9a9a9a;
  font-family: PoppinsB;
  font-size: 130px;
  line-height: 60%;
}

.eksplore-budaya {
  width: 360px;
  height: 80px;
  background-color: #ffbf61;
  border-radius: 20px;
  margin-top: 90px;
}

.eksplore-budaya a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* .image-slide {
  height: 827px;
  width: 686px;
  border-radius: 20px;
  background-color: #9a9a9a;
  grid-column-start: 2;
  position: relative;
  top: 80px;
  background-image: url(/assets/Images/GamelanHead.png);
} */

.container-kebudayaan {
  margin-top: 200px;
}

.Kebudayaan2 {
  color: #9a9a9a;
  font-size: 80px;
  font-family: PoppinsB;
  text-align: center;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 900px) {
  h3 {
    display: none;
  }

  /* .judul-ctn {
    display: none;
  } */
}
.gallery {
  /* User transform:scale to resize the gallery (desktop screen) */
  transform: scale(0.6);
  /* padding: 2rem; */
  grid-column-start: 2;
  place-self: center;
}

.slider-wrapper {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  top: -100px;
  right: 200px;
}

.slider {
  display: flex;
  /* aspect-ratio: 9/16; */
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 300px;
  /* height: auto; */
}

.dots {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 3.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dots a {
  /* Use transform:scale to resize the dots navbar (desktop screen) */
  transform: scale(1);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--dots-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

/* Animation: the dot will be clearer when mouse-hover */
.dots a:hover {
  opacity: 1;
}
/* Animation: the dot will be bigger when clicked */
.dots a:active {
  transform: scale(1.2);
}
