* {
  scroll-behavior: smooth;
}

:root {
  --dots-color: #fff;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/Poppins\ Font/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsB;
  src: url(/assets/Poppins\ Font/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsR;
  src: url(/assets/Poppins\ Font/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsM;
  src: url(/assets/Poppins\ Font/Poppins-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: black;
  color: white;
}

.logo {
  animation: left 1.5s;
}

.container {
  width: 100vw;
}

.container-navbar {
  display: flex;
  width: 100vw;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: -5px;
  z-index: 9;
  opacity: 0.5;
  transition: 0.9s;
}

.container-navbar:hover {
  opacity: 1;
}

.navbar {
  width: 700px;
  height: 70px;
  border-radius: 100px;
  background-color: #1f2125;
  animation: top 1.5s;
}

.navbar ul {
  height: 80px;
  display: flex;
  width: 100%;
  margin: 0;
}

.navbar ul li {
  padding: 0 40px;
  font-size: 16px;
  list-style-type: none;
  color: white;
  margin-left: 2%;
  margin-top: 10px;
  height: 50px;
  border-radius: 100px;
  transition: 0.5s;
}

.navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  width: auto;
  border-radius: 100px;
  color: white;
}

.navbar ul li:hover {
  background-color: #ffbf61;
}

.btn-login {
  height: 58px;
  width: 120px;
  background-color: #ffbf61;
  border-radius: 100px;
  text-align: center;
  line-height: 58px;
  font-size: 20px;
  font-family: PoppinsR;
  animation: right 1.5s;
}

.btn-login a {
  color: black;
  text-decoration: none;
}

.container-content {
  width: 100vw;
  margin-top: 175px;
  display: grid;
  grid-template-columns: 50vw auto;
  justify-self: end;
}

.title {
  grid-column-start: 1;
  place-self: end;
  margin-right: 10vw;
}

.Kebudayaan {
  color: #9a9a9a;
  font-family: PoppinsB;
  font-size: 80px;
  line-height: 60%;
}

.Kabupaten {
  color: #9a9a9a;
  font-family: Poppins;
  font-size: 100px;
  line-height: 60%;
}

.Tegal {
  color: #9a9a9a;
  font-family: PoppinsB;
  font-size: 130px;
  line-height: 60%;
}

.eksplore-budaya {
  width: 360px;
  height: 80px;
  background-color: #ffbf61;
  border-radius: 20px;
  margin-top: 90px;
}

.eksplore-budaya a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.gallery {
  width: 50%;
  height: 80%;
  grid-column-start: 2;
  position: relative;
  top: 100px;
}

.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 300px;
}

.dots {
  display: flex;
  column-gap: 1rem;
  position: relative;
  left: 500px;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 1;
}

.dots a {
  transform: scale(0.8);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--dots-color);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.dots a:hover {
  opacity: 1;
}

.dots a:active {
  transform: scale(1.2);
}

.container-kebudayaan {
  margin-top: 300px;
}

.kebudayaan-title {
  color: #9a9a9a;
  font-size: 6em;
  font-family: PoppinsB;
  text-align: center;
  margin-top: 100px;
}

.container-carousel {
  width: 100vw;
}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  animation: carousel 10s infinite forwards;
  border: 1px solid #ffbf61;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 881px;
  min-width: 686px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:nth-child(1) {
  background-image: url(/assets/images//HomePage/Frame\ 17.png);
}

.card:nth-child(2) {
  background-image: url(/assets/images//HomePage/Frame\ 18.png);
}

.card:nth-child(3) {
  background-image: url(/assets/images//HomePage/Frame\ 17.png);
}

.card:nth-child(4) {
  background-image: url(/assets/images//HomePage/Frame\ 18.png);
}

.card:nth-child(5) {
  background-image: url(/assets/images//HomePage/Frame\ 17.png);
}

.card:nth-child(6) {
  background-image: url(/assets/images//HomePage/Frame\ 18.png);
}

.card:nth-child(7) {
  background-image: url(/assets/images//HomePage/Frame\ 17.png);
}

.container-kebudayaan-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card-kebudayaan {
  width: 80vw;
  height: 400px;
  border-radius: 20px;
  background-color: #1f2125;
  color: #9a9a9a;
  border: 1px solid #ffbf61;
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 130px 150px auto;
}

.card-kebudayaan .title-card {
  font-size: 50px;
  font-family: PoppinsM;
  padding-left: 119px;
  grid-column-start: 1;
}

.card-kebudayaan p {
  font-family: Poppins;
  font-size: 22px;
  padding-left: 119px;
  grid-column-start: 1;
}

.card-kebudayaan button {
  width: 360px;
  height: 65px;
  background-color: #ffbf61;
  margin-left: 119px;
  border-radius: 20px;
  margin-top: 20px;
  grid-column-start: 1;
}

.card-kebudayaan button a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: PoppinsR;
  font-size: 20px;
}

.card-kebudayaan div {
  width: 339px;
  height: 339px;
  border-radius: 20px;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  place-self: center;
}

.container-berita h1 {
  color: #9a9a9a;
  font-size: 80px;
  font-family: PoppinsB;
  text-align: center;
}

/* Responsive Breakpoint */

@media only screen and (min-width: 1000px) {
  .title {
    animation: title 2.5s;
  }

  .gallery {
    animation: slide 2.5s;
  }

  .gallery {
    width: 50%;
    height: 80%;
    grid-column-start: 2;
    position: relative;
    top: 100px;
  }

  .slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 300px;
  }

  .dots {
    display: flex;
    column-gap: 1rem;
    position: relative;
    left: 500px;
    bottom: 80px;
    transform: translateX(-50%);
    z-index: 1;
  }

  .dots a {
    transform: scale(0.8);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--dots-color);
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  .dots a:hover {
    opacity: 1;
  }

  .dots a:active {
    transform: scale(1.2);
  }

  .container-isi-berita {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-rows: 480px auto;
    grid-template-columns: 40% 30% 30%;
  }

  .beritaL {
    width: 93%;
    height: 1109px;
    background-color: #1f2125;
    border-radius: 20px;
    border: 3px solid #ffbf61;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
  }

  .container-isi-berita .beritaL .l-title {
    color: #9a9a9a;
    font-size: 35px;
    font-family: Poppins;
    text-align: start;
    margin-left: 10%;
  }

  .l-txt {
    font-family: Poppins;
    font-size: 22px;
    color: #9a9a9a;
    margin-left: 10%;
  }

  .beritaL-content {
    width: 86%;
    height: 683px;
    border-radius: 20px;
    background-color: #9a9a9a;
    margin: 60px auto;
  }

  .beritaL-content img {
    width: 100%;
    height: 683px;
  }

  .rb-content img {
    width: 100%;
    height: 186px;
  }

  .rt-content img {
    width: 100%;
    height: 186px;
  }

  .l-link {
    font-size: 20px;
    color: #ffbf61;
    text-decoration: none;
    padding: 15px 10%;
  }

  .beritaRT {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid #ffbf61;
    background-color: #1f2125;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .rt-content {
    height: 186px;
    border-radius: 20px;
    width: 93%;
    background-color: #9a9a9a;
    margin: 25px auto;
  }

  .beritaRT .rt-title {
    color: #9a9a9a;
    font-size: 35px;
    font-family: Poppins;
    text-align: start;
    margin: 0 0 0 30px;
  }

  .rt-txt {
    font-family: Poppins;
    font-size: 22px;
    color: #9a9a9a;
    margin-left: 30px;
  }

  .rt-link {
    font-size: 20px;
    color: #ffbf61;
    text-decoration: none;
    padding: 15px 4%;
  }

  .beritaRB1 {
    width: 95%;
    height: 90%;
    align-self: end;
    border-radius: 20px;
    border: 3px solid #ffbf61;
    background-color: #1f2125;
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .rb-content {
    height: 186px;
    border-radius: 20px;
    width: 93%;
    background-color: #9a9a9a;
    margin: 25px auto;
  }

  .beritaRB1 .rb-title {
    color: #9a9a9a;
    font-size: 35px;
    font-family: Poppins;
    text-align: start;
    margin: 0 0 0 18px;
  }

  .rb-txt {
    font-family: Poppins;
    font-size: 22px;
    color: #9a9a9a;
    margin-left: 18px;
  }

  .rb-link {
    font-size: 20px;
    color: #ffbf61;
    text-decoration: none;
    padding: 15px 10%;
    position: relative;
    top: 37px;
  }

  .beritaRB2 {
    width: 95%;
    height: 90%;
    justify-self: end;
    align-self: end;
    border-radius: 20px;
    border: 3px solid #ffbf61;
    background-color: #1f2125;
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .beritaRB2 .rb-title {
    color: #9a9a9a;
    font-size: 35px;
    font-family: Poppins;
    text-align: start;
    margin: 0 0 0 18px;
  }
}

@media only screen and (max-width: 1500px) {
  .gallery {
    width: 40%;
    height: 70%;
    position: relative;
    bottom: 80px;
  }

  .text {
    margin-right: 7vw;
  }

  .Kebudayaan {
    font-size: 60px;
  }

  .Kabupaten {
    font-size: 80px;
  }

  .Tegal {
    font-size: 110px;
  }

  .eksplore-budaya {
    margin-top: 30px;
  }

  .dots {
    left: 390px;
  }

  .dots a {
    width: 2rem;
    height: 2rem;
  }

  .rt-txt {
    font-size: 21px;
  }

  .beritaL-content {
    margin: 33px auto;
  }
}

@media only screen and (max-width: 1400px) {
  .card-kebudayaan {
    height: 300px;
    grid-template-rows: 90px 120px auto;
  }

  .card-kebudayaan .title-card {
    font-size: 35px;
    padding-left: 90px;
  }

  .card-kebudayaan p {
    font-size: 16px;
    padding-left: 90px;
    grid-column-start: 1;
  }

  .card-kebudayaan button {
    width: 200px;
    height: 50px;
    background-color: #ffbf61;
    margin-left: 90px;
    margin-top: 20px;
  }

  .card-kebudayaan button a {
    font-size: 14px;
  }

  .card-kebudayaan div {
    width: 250px;
    height: 250px;
  }

  .card-kebudayaan img {
    width: 250px;
    height: 250px;
  }

  .beritaL-content {
    margin: 65px auto;
  }

  .l-txt,
  .rb-txt,
  .rt-txt {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    width: 700px;
    height: 70px;
  }

  .navbar ul {
    height: 70px;
  }

  .btn-login {
    height: 48px;
    width: 100px;
    line-height: 48px;
    font-size: 16px;
  }

  .eksplore-budaya {
    width: 270px;
    height: 70px;
    margin-top: 20px;
  }

  .eksplore-budaya a {
    font-size: 16px;
  }

  .gallery {
    width: 30%;
    height: 60%;
    position: static;
  }

  .text {
    margin-right: 4vw;
  }

  .Kebudayaan {
    font-size: 40px;
  }

  .Kabupaten {
    font-size: 60px;
  }

  .Tegal {
    font-size: 90px;
  }

  .dots {
    left: 300px;
  }

  .dots a {
    width: 1.5rem;
    height: 1.5rem;
  }

  .Kebudayaan2 {
    font-size: 60px;
  }

  .card {
    min-height: 700px;
    min-width: 550px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    width: 600px;
    height: 60px;
  }

  .navbar ul {
    height: 60px;
  }

  .navbar ul li {
    padding: 0 30px;
    margin-top: 5px;
  }

  .btn-login {
    height: 38px;
    width: 90px;
    line-height: 38px;
    font-size: 10px;
  }

  .container-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .title {
    animation: none;
    place-self: center;
    margin: 0;
    text-align: center;
    animation: title1000 1.5s;
  }

  .gallery {
    transform: scale(3.5);
    margin: 200px auto 0 auto;
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: end;
  }

  .slider-wrapper {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
  }

  .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .dots {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .dots a {
    transform: scale(1);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--dots-color);
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  .dots a:hover {
    opacity: 1;
  }

  .dots a:active {
    transform: scale(1.2);
  }

  .container-kebudayaan {
    margin-top: 200px;
  }

  .kebudayaan-title {
    font-size: 50px;
  }

  .Kebudayaan {
    font-size: 70px;
  }

  .card-kebudayaan {
    grid-template-columns: 50% auto;
  }

  .card-kebudayaan .title-card {
    padding-left: 40px;
    font-size: 30px;
  }

  .card-kebudayaan p {
    padding-left: 40px;
    font-size: 13px;
  }

  .card-kebudayaan button {
    margin-left: 40px;
    width: 164px;
    height: 43px;
  }

  .card-kebudayaan button a {
    font-size: 10px;
  }

  .card-kebudayaan div {
    width: 200px;
    height: 200px;
  }

  .card-kebudayaan img {
    width: 200px;
    height: 200px;
  }

  .container-isi-berita {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .beritaL,
  .beritaRB1,
  .beritaRB2,
  .beritaRT {
    width: 80%;
    height: 600px;
    background-color: #1f2125;
    border-radius: 20px;
    border: 3px solid #ffbf61;
  }

  .container-berita h1 {
    font-size: 70px;
  }

  .container-berita .container-isi-berita h1 {
    font-size: 40px;
  }

  .rb-content,
  .rt-content,
  .beritaL-content {
    height: 250px;
    width: 80%;
    border-radius: 20px;
    margin: 40px auto;
  }

  .container-isi-berita img {
    width: 100%;
    height: 250px;
  }

  .l-txt,
  .rb-txt,
  .rt-txt {
    text-align: center;
    color: #9a9a9a;
    font-family: Poppins;
    font-size: 22px;
  }
}

.container-kebudayaan-two .animate {
  transition: 1s;
}

.card-kebudayaan.animate {
  transform: translateX(100%);
  filter: blur(5px);
  overflow: hidden;
}

.card-kebudayaan:nth-child(3).animate {
  transform: translateX(-100%);
  filter: blur(5px);
  overflow: hidden;
}

.card-kebudayaan:nth-child(3).show-animate {
  transform: translateX(0);
  filter: blur(0);
}

.card-kebudayaan.show-animate {
  transform: translateX(0);
  filter: blur(0);
}

@media only screen and (max-width: 800px) {
  .navbar {
    width: 500px;
    height: 50px;
  }

  .navbar ul {
    height: 50px;
    padding-left: 30px;
  }

  .navbar ul li {
    padding: 0 26px;
    margin-top: 0;
    font-size: 13px;
  }

  .btn-login {
    height: 38px;
    width: 90px;
    line-height: 38px;
    font-size: 10px;
  }
}

@keyframes title {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes title1000 {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes kebudayaan {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes top {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right {
  0% {
    transform: translateX(2500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
