body {
  margin: 0;
  padding: 0;
}

.carousel {
  width: 1000px;
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  gap: 1.2rem;
  overflow: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 300px;
  margin: 300px auto;
}

.card {
  width: 300px;
  height: 600px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
