@font-face {
  font-family: PoppinsR;
  src: url(/assets/Poppins\ Font/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsS;
  src: url(/assets/Poppins\ Font/Poppins-SemiBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: PoppinsR;
  background-color: black;
  color: white;
}

.container {
  width: 90%;
  height: 800px;
  background-color: #1f2125;
  margin: 2% auto;
  border-radius: 20px;
  display: flex;
}

.imageBg {
  width: 50%;
  height: 100%;
  background-image: url(/assets/Images/Frame\ 17.png);
  object-fit: contain;
  opacity: 40%;
}

input {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  background-color: #1f2125;
  border: 1px solid #9a9a9a;
  font-size: 22px;
  font-family: PoppinsR;
  padding-left: 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  color: white;
}

label {
  font-family: PoppinsS;
  font-size: 22px;
  margin-left: 20%;
  margin-bottom: 5px;
}

.facebook,
.google {
  width: 270px;
  height: 50px;
  background-color: #1f2125;
  border: 2px solid #9a9a9a;
  margin: 0 auto;
  border-radius: 6px;
  text-align: center;
  line-height: 50px;
  color: #9a9a9a;
  font-family: PoppinsS;
  margin-bottom: 20px;
}
